/* Font Face Declaration */
@font-face {
    font-family: 'Audrey';
    src: url('../fonts/Audrey-Normal.woff2') format('woff2'),
         url('../fonts/Audrey-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Audrey', sans-serif;
    overflow: hidden;
    color: white; /* Set text color to white */
}

/* Background image container */
.background-image {
    background: url('../images/7.jpg') no-repeat center center;
    background-size: cover;
    height: 736px; /* Height of iPhone 8 Plus screen in pixels */
    width: 414px;  /* Width of iPhone 8 Plus screen in pixels */
    position: relative;
    margin: 0;
    overflow: hidden;
}

/* Content box styles */
.content-box {
    padding: 20px;
    width: 80%;
    max-width: 350px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 80%;
}

/* Bottom image styles with tilting animation */
.image-container {
    margin-top: 20px;
    text-align: center;
}

.bottom-image {
    width: 80px; /* Set width for the bottom image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add margin at the bottom */
    animation: tilt 3s infinite alternate; /* Add tilting animation */
}

@keyframes tilt {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(-2deg); }
    100% { transform: rotate(2deg); }
}
